#MenuNgang{
    display:none;
}
.menu-options {
    position: absolute;
    right: 0;
    font-size: 14px;
    padding: 10px;
    display: none;
}

#btn-option:hover .menu-options{
    display:block;
}
.item-menu-options{
    margin-top:5px;
    margin-bottom:5px;
}
.swapToMenuDoc{
    cursor:pointer;
}
.text-color-option:hover, .text-color-option-logout:hover {
    font-weight: 600;
}
@media (max-width: 1350px) {
    .link_header {
        font-size:15px !important;
    }
}