.title_dashboard {
    color: black;
}

    .title_dashboard:hover {
        color: black;
    }

.btn_xoa_css {
    width: 180px;
    font-size: 13px;
}

@media (max-width: 999px) {

    table, tr, td {
        font-size: 13px;
    }

    .btn_xoa_css {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .box_loc {
        display: flex;
        flex-direction: column;
    }

    .span_locngay {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .btn_locngay {
        width: 150px;
    }
}

@media(max-width:850px) {
    .font_size_reponsive {
        font-size: 13px;
    }
}

@media (max-width: 560px) {

    #btn-print, #numberResult {
        margin-bottom: 10px;
    }
}
