.toast-container {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
    align-content: end;
    z-index:2000;
}

.toast {
    opacity: 0.9 !important;
}

.toast-danger, .toast-danger > .toast-header {
    background-color: #fdd8de !important;
    color: #790619;
}

.toast-success, .toast-success > .toast-header {
    background-color: #c7f5d9 !important;
    color: #0b4121;
}
.toast-header > i {
    margin-bottom:2px;
    margin-right:1px;
}

@keyframes Toast{
    70%{
        opacity:0.9;
    }
    100%{
        opacity:0;
    }

}
