.menu-options {
    background-color: #ffffff;
}
.item-menu-options:hover {
    background-color: var(--hover-item-menu-color);
    color: white;
}
#navbar-menu-ngang {
    background-color: #ffffff;
}
.text-color-option {
    color: #401D83 !important;
}