<input type="file" name="file" id="file">
<img id="img" />
<button id="submit">Submit</button>


<script>
    let file = document.querySelector('#file');
    let img = document.querySelector('#img');
    let submit = document.querySelector('#submit');

    let files = [];
    function isFileImage(file) {
        return file && file['type'].split('/')[0] === 'image';
    }
    const handleOnChangeInputImg = (e) => {
        files = Array.from(e.target.files).filter(f => isFileImage(f) === true)
        files.forEach(element => {
            element.preview = URL.createObjectURL(element);
        });


        img.src = files[0].preview;
    }
    file.addEventListener('change', (e) => handleOnChangeInputImg(e));

    submit.onclick = () => {
        let formData = new FormData();
        formData.append('ProductName', '123123');
        formData.append('Customer', '21312');
        formData.append('ProductWeight', 123);
        formData.append('CarWeight', 213);
        formData.append('TotalWeight', 213);
        formData.append('numberplates', '213123');
        formData.append('UsernamePerformer', 'xuan');
        formData.append('file', files[0], files[0].name);

        fetch('https://localhost:7028/transport/addtransport', {
            method: 'POST',
            body: formData

        }).then(res => res.json()).then(data => console.log(data));
    }


</script>