@{
    Layout = "_Layout";
}

<div class="row r01">
    <div class="col-4 n01 n03">
        <a href="/car">
            <div class="Khung">
                <div class="box">
                    <div class="icon"><i class="bi bi-truck"></i></div>
                    <div class="content">
                        <br>
                        <span class="text_box fw-normal" style="font-size: 20px;">Quản lý xe chở hàng</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-4 n01 n02">
        <a href="/transport">
            <div class="Khung">
                <div class="box">
                    <div class="icon"><i class="bi bi-pencil-square"></i></div>
                    <div class="content">
                        <br>
                        <span class="text_box" style="font-size: 20px;">Quản lý lượt xe</span>
                    </div>
                </div>
            </div>

        </a>
    </div>

    <div class="col-4 n01">
        <a href="">
            <div class="Khung">
                <div class="box">
                    <div class="icon"><i class="bi bi-file-bar-graph-fill"></i></div>
                    <div class="content">
                        <br>
                        <span class="text_box" style="font-size: 20px;">Quản lý thống kê</span>
                    </div>
                </div>
            </div>

        </a>
    </div>
</div>
<div class="row r01">
    <div class="col-4 n01 n02 n03">
        <a href="/user">
            <div class="Khung">
                <div class="box">
                    <div class="icon"><i class="bi bi-people-fill"></i></div>
                    <div class="content">
                        <br>
                        <span class="text_box" style="font-size: 20px;">Quản lý nhân viên</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-4 n01 n03">
        <a href="/group">
            <div class="Khung">
                <div class="box">
                    <div class="icon"><i class="bi bi-person-video3"></i></div>
                    <div class="content">
                        <br>
                        <span class="text_box" style="font-size: 20px;">Quản lý nhóm quyền</span>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4 n01">
        <a href="">
            <div class="Khung">
                <div class="box">
                    <div class="icon"><i class="bi bi-wrench"></i></div>
                    <div class="content">
                        <br>
                        <span class="text_box" style="font-size: 20px;">Cài đặt thiết bị</span>
                    </div>
                </div>
            </div>

        </a>
    </div>
</div>